<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <title>Task Tracker</title>
</head>
<body>
    <button onclick="startTask()">Start a task</button>
    <h1>Task Tracker</h1>
    <div>
        <ul id="tasks"></ul>
    </div>
    <script>
 let tasklist = document.getElementById('tasks');
        function deleter(el) {
            console.log('remove el', el.id);
            tasklist.removeChild(el)
        }
        function checker(tasks_el) {
            axios.get(`http://127.0.0.1:8000/gettask/?task_id=${tasks_el.id}`)
            .then((res) => {
                console.log(res.data, "CHECKED Status");
                if (res.data == "SUCCESS") {
                    tasks_el.style.color = "green"
                    tasks_el.innerHTML = tasks_el.id + " SUCCESS"
                    console.log(res.data, `TASK: ${tasks_el.id} changin to success Status`);
                    setTimeout(deleter, 3000, tasks_el);
                } else {
                    setTimeout(checker, 1000, tasks_el);
                    console.log(`TASK: ${tasks_el.id} Wait`);

                }
            })
        }


        function startTask() {
            axios.get('http://localhost:8000/settask/')
            .then((res) => {
                console.log(res.data);
                let taskitem = document.createElement("li")
                taskitem.id = res.data
                taskitem.innerHTML = res.data + " WORKING"
                taskitem.style.color = "red"
                tasklist.appendChild(taskitem)

                setTimeout(checker, 1000, taskitem)
            })

        }
    </script>
</body>
</html>